{% extends "layout.html" %} {% block title %} {% endblock %} {% block content %}
<div class="container-fluid py-4">
    <div class="row">
        <div class="col-sm-12">
            <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalAddMissionAction">Add
                Action</button>

            <a class="btn btn-success" href="{{url_for('main.completed_missions')}}">

                Completed Mission
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="card my-4">
                <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                    <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                        <h6 class="text-white text-capitalize ps-3">Mission - Actions</h6>
                    </div>
                </div>
                <div class="card-body px-0 pb-2">
                    <div class="table-responsive p-0">
                        {% if missions|length > 0 %}
                        <table class="table align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7">
                                        Mission Text</th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">
                                        Mission URL</th>
                                    <th class="text-uppercase text-secondary text-sm font-weight-bolder opacity-7 ps-2">
                                        Coins</th>
                                    <th class="text-secondary opacity-7"></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for mission in missions %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-sm font-weight-bold mb-0">{{ mission.ma_text }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">{{ mission.ma_url }}</p>
                                    </td>
                                    <td>
                                        <p class="text-sm font-weight-bold mb-0">{{ mission.ma_coins }}</p>
                                    </td>
                                    <td class="align-middle">
                                        <a href="#" data-id="{{ mission.ma_id }}" data-text="{{ mission.ma_text }}"
                                            data-url="{{ mission.ma_url }}" data-coins="{{ mission.ma_coins }}"
                                            data-bs-toggle="modal" data-bs-target="#modalEditMissionAction"
                                            class="openEditModalMissionAction">
                                            <i class="fa-solid fa-pen-to-square fa-lg icon-dark"></i>
                                        </a>
                                        &nbsp; &nbsp;
                                        <a href="#" data-maid="{{ mission.ma_id }}"
                                            class="text-secondary font-weight-bold text-sm deleteMissionActionBtn"
                                            data-toggle="tooltip" data-original-title="Delete">
                                            <i class="fa-solid fa-trash fa-lg icon-dark"></i>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        {% else %}
                        <h4 class="text-center">There are currently no missions available.</h4>
                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Add Action Modal -->
<div class="modal fade" id="modalAddMissionAction" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Mission Action</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="formAddMissionAction">
                    <!-- Mission Text -->
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Mission Text</label>
                        <input type="text" class="form-control" name="mission_text" required>
                    </div>

                    <!-- Mission URL  -->
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Mission URL</label>
                        <input type="text" class="form-control" name="mission_url" required>
                    </div>


                    <!-- Coins for Mission -->
                    <div class="input-group input-group-outline mb-3">
                        <label class="form-label">Coins for Mission</label>
                        <input type="number" class="form-control" name="mission_coins" required>
                    </div>

                    <div class="mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Save" class="btn btn-primary">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


<!-- Edit Action Modal -->
<div class="modal fade" id="modalEditMissionAction" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Quiz Question</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" id="formEditMissionAction">
                    <!-- Mission Text -->
                    <div class="input-group input-group-outline mb-3 focused is-focused">
                        <label class="form-label">Mission Text</label>
                        <input type="text" class="form-control" name="mission_text" id="mission_action_text_edit"
                            required>
                    </div>

                    <!-- Mission URL  -->
                    <div class="input-group input-group-outline mb-3 focused is-focused">
                        <label class="form-label">Mission URL</label>
                        <input type="text" class="form-control" name="mission_url" id="mission_action_url_edit"
                            required>
                    </div>


                    <!-- Coins for Mission -->
                    <div class="input-group input-group-outline mb-3 focused is-focused">
                        <label class="form-label">Coins for Mission</label>
                        <input type="number" class="form-control" name="mission_coins" id="mission_action_coins_edit"
                            required>
                    </div>

                    <input type="hidden" name="id" value="" id="mission_action_id_edit">
                    <div class="mt-3">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" value="Update" class="btn btn-primary">
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>

{% endblock %}